
@{
    ViewBag.Title = "Cookie Father";
}

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Add Value Cookie Page
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form action="/Home/CookieFather" method="post" role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cookie Name: </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Cookie Name" name="cookieName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cookie Value:</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cookie Value" name="cookieValue">
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

