
@{
    ViewBag.Title = "Home";
}

<table border="1">
    <thead>
    <tr>
        <th>Active User</th>
        <th>Total Visitor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@ViewBag.ActiveUser</td>
        <td>@ViewBag.TotalVisitor</td>
    </tr>
    </tbody>
</table>